
html {
	font-size: 10px;
    scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: var(--font-family);
}

.main {
    background-color: var(--primary);
    background-image: url("../assets/img/backgrounds/bg-snow.png");
    border-radius: 20px 20px;
    // padding: 60px 8px;
}

ul {
    list-style: none
}

a {
    text-decoration: none;
    color: inherit;
    @extend %transition;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    text-align: center;
    // color: var(--static-white);
}

.main h1 {
    color: var(--static-white);
}

h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark);
}

.main h2 {
    color: var(--static-white);
}

h3, .h3 {
    display: block;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark);
}

h4, .h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    // color: var(--static-white);
}

p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: var(--dark);
}

.caption {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--static-white);
}
