.burger-btn {
    display: none;

    @include media-tablet {
        display: flex;
        flex-direction: column;
        gap: 8px;

        align-items: center;
        justify-content: center;
    }

    width: 40px;
    height: 40px;

    &>div{
        border: 1px solid var(--dark);
        width: 22px;
        height: 0px;
        transition: all 0.3s ease-in-out;
    }

    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.burger-btn.burger-cross {
    &>div:first-child {
        transform: translateY(5px) rotate(-135deg);
    }
    &>div:last-child {
        transform: translateY(-4px) rotate(135deg);
    }
}

.nav.menu-open {
    visibility: visible;
    opacity: 1;

    right: 0;
    left: 0;
}