.button {
    @extend %border_radius;
    @extend %transition;
    cursor: pointer;
}

.link__gifts {
    padding: 20px 30px;
    background: var(--dark);
    color: var(--static-white);
    width: 235px;
    margin: auto;
}

.link__gifts:hover {
    background: var(--static-white);
    color: var(--dark);
}

.button_arrow {
    border: 1px solid var(--static-white);
    width: 56px;
    height: 56px;
    background-color: transparent;

    &_notallowed {
        cursor: not-allowed;
        border: 1px solid var(--static-white-40);
    }

    &_active:hover {
        background-color: var(--static-white);

        &>img {
            stroke: var(--primary);
            color: var(--primary);
        }
    }
}
