.button {
    border-radius: 20px;
    height: 56px;
}

.link__gifts {
    padding: 20px 32px;
    width: 235px;
    background: var(--dark);
    color: var(--static-white);
}

.button_arrow {
    border: 1px solid var(--static-white);
    width: 56px;
}
