.gifts__text {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h2 {
        padding-left: 4px;
    }
}

.gift__card {
    display: flex;
    flex-direction: column;
    @extend %border_radius;
    background: var(--content-background);

    width: 310px;

    img {
        border-radius: 20px 20px 0 0;
    }
}

.gift__name {
    @extend %transition;
}

@media (hover: hover) {
    .gift__card:hover {
        cursor: pointer;
        .gift__name {
            cursor: pointer;
            color: var(--primary);
        }
    }
}

.card__content {
    @extend %border_radius;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    background: var(--static-white);
    height: 112px;

    p {
        text-align: left;
    }
}

.gift__tag {
    &_purpled {
        color: var(--tag-purple);
    }
    &_greened {
        color: var(--tag-green);
    }
    &_pinked {
        color: var(--tag-pink);
    }
}
