
@import "./abstract/constants";
@import "./abstract/placeholders.scss";
@import "./abstract/mixins";

@import "./base/base";
@import "./base/buttons";
@import "./base/card";
@import "./base/modal_card";
@import "./base/tags";
@import "./base/burger";

@import "./layouts/headers";
@import "./layouts/wrapper";
@import "./layouts/footer";

@import "./components/hero-section";
@import "./components/about";
@import "./components/wishes";
@import "./components/gifts";
@import "./components/cta";

@import "./components/gifts2";

@import 'npm:modern-normalize/modern-normalize.css';

// @import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "npm:@fontsource-variable/montserrat/wght.css";
@import "npm:@fontsource/allura/400.css";

@font-face {
	font-family: AdobeNotDef;
	src: url('../assets/fonts/AdobeNotDef/AND-Regular.otf');
}

.hidden {
	display: none;
}
