footer {
    @extend %section_container;
}

.contacts__wrapper {
    @include columns($gap: 68px);
    // align-items: center;
}

.contacts {
    @include flex-rows($gap: 12px);
    justify-content: center;

    @include media-tablet {
        display: grid;
        grid-template-columns: 1fr;
        // @include columns();
        // align-items: stretch;
    }
}

.contact__item {
    @include columns($gap: 12px);
    align-items: center;
    @extend %border_radius;
    padding: 20px;
    width: 417px;
    background: var(--content-background);

    .contact__img {
        width: 80px;
    }

    &>* {
        @extend %transition;
    }

    @include media-tablet {
        width:auto;
    }
}

@media (hover: hover) {
    .contact__item:hover {
        .h2, h3 {
            cursor: pointer;
            color: var(--primary);
        }
    }
}

.footer__links {
    @include columns($gap: 15px);
    align-items: center;
}

.socials__links {
    @include flex-rows($gap: 12px);
    align-items: center;
    .social__link_img {
        width: 40px;
        padding: 8px;
    }
}

.footer_caption>a {
    color: var(--dark);
}

@media (hover: hover) {
    .footer_caption>a:hover {
        cursor: pointer;
        color: var(--primary);
    }

    .social__item:hover {
        stroke: var(--primary);
    }
}

.social__item {
    cursor: pointer;
    @extend %transition;
    stroke: var(--dark);
    width: 40px;
    text-align: center;
}