.header {
    background: var(--static-white);
    padding: 12px 82px;

    @include media-tablet {
        padding-inline: 8px;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    padding: 8px 20px;
    z-index: 10;
}

.logo_title {
    color: var(--dark);
}

.header__nav {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
}

.nav {
    display: flex;
    column-gap: 8px;
}

.nav {
    @include media-tablet {
        // display: none;
        @include columns(8px);
        justify-content: center;
        align-items: center;
        margin: 0;

        position: fixed;
        left: 100%;
        top: 0;
        visibility: hidden;
        opacity: 0;

        background: var(--static-white);
        // background: gray;
        width: 100%;
        height: 100%;

        transition: all 0.3s ease-in-out;

        li {
            border-radius: 12px;
            padding: 12px 20px;
        }
    }
}

.nav__link {
    padding: 12px 20px;
    // &:hover {
    //     background-color: var(--primary-10);
    //     color: var(--primary);
    //     border-radius: 12px;
    // }
}

@media (hover: hover) {
    .nav__link:hover {
        background-color: var(--primary-10);
        color: var(--primary);
        border-radius: 12px;
    }
}

// .logo_allowed:hover {
//     background-color: var(--primary-10);
//     .logo_title {
//         color: var(--primary);
//     }
//     border-radius: 12px;
// }

.nav__link_activated {
    cursor: default;
    background-color: var(--primary-10);
    color: var(--primary);
    border-radius: 12px;
}

