.header {
    background: var(--static-white);
    padding: 12px 82px;
}

.logo {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    padding: 8px 20px;
}

.logo_title {
    color: var(--dark);
}

.header__nav {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
}

.nav {
    display: flex;
    column-gap: 8px;
}

.nav__link {
    padding: 12px 20px;
    &:hover {
        background-color: var(--primary-10);
        color: var(--primary);
        border-radius: 12px;
    }
}

