.about {
    background-image: url("../assets/img/backgrounds/bg-snow.png");
    padding: 60px 82px;
    background-size: cover;
    background-position: center;

    @include media-tablet {
        padding-inline: 8px;
    }
}

.about__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // gap: 152px;
    @extend %border_radius;
    background: var(--static-white);
    // padding: 100px 60px;

    &>img {
        @extend %border_radius;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // padding: 160px 152px 160px 60px;
    padding-block: 160px;
    padding-left: 60px;

    max-width: 426px;

    &>.caption {
        text-align: left;
        color: var(--primary);
    }

    &>h2 {
        text-align: left;
        color: var(--dark);
    }

    @include media-tablet {
        padding-block: 106px;
        padding-inline: 60px;
    }
}

