.gifts2 {
    @extend %section_container;
    background-image: url("../assets/img/backgrounds/bg-garland.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}

.gifts__block {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    // @include columns();
    // padding-inline: 82px;
    // align-items: stretch;
    // align-items: center;
}

.gifts__text{
    align-items: center;
    h1 {
    width: 426px;
    }
}

.layout-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 310px);
    justify-content: center;
    column-gap: 12px;
    row-gap: 12px;
}