.gifts {
    @extend %section_container;
    background-image: url("../assets/img/backgrounds/bg-snow.png");
    background-size: cover;
    background-position: center;
    // padding-top: 56px;
}

.gifts__block {
    @include columns();
    // padding-inline: 73px;
}

.gift_cards__columns,
.layout-4-columns {
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}
