.wishes {
    @extend %section_container;
    background-image: url("../assets/img/backgrounds/bg-snow.png");
    background-size: cover;
    background-position: center;
    padding-inline: 6px;
}


.wishes__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wishes__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.wishes__slider {
    @include flex-rows();

    // padding-inline: 76px;
    position: relative;
    padding-inline: clamp(0.125rem, -5.1607rem + 11.0119vw, 4.75rem);
    @extend %transition;

    @include media-tablet {
        padding-inline: 2px;
    }
}

.wish__item {
    @include flex-rows();
    align-items: center;

    img {
        border-radius: 20px;
        width: 200px;
        height: 200px;
    }
}

.wishes__slider__buttons {
    @include flex-rows();
    justify-content: right;
    align-content: center;

    padding-inline: 76px;
    // text-align: right;

    @include media-tablet {
        padding-inline: 2px;
    }
}
