@mixin font($size, $height: normal, $letter_spacing: normal, $weight: 600) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $letter_spacing;
}

@mixin flex-rows($gap: 20px) {
    display: flex;
    flex-direction: row;
    gap: $gap;
}

@mixin columns($gap: 20px) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin main_block($width) {
    padding: 60px 0px;
    max-width: $width;
}


@mixin media-laptop {
    @media (max-width: $laptop-width) { @content; }
}

@mixin media-laptop-average {
    @media (max-width: $laptop-average-width) { @content; }
}

@mixin media-laptop-small {
    @media (max-width: $laptop-small-width) { @content; }
}

@mixin media-tablet {
    @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile {
    @media (max-width: $mobile-width) { @content; }
}

@mixin media-scroll-to-top {
    @media (max-width: $tablet-width) and (min-height: $scroll-heigth) {
        @content;
    }
}