%border_radius {
    border-radius: 20px;
}

%transition {
    transition: all .3s ease-out;
}

%section_container {
    padding: 60px 8px;
}

%hover_text {
    cursor: pointer;
    color: var(--primary);
}